APP_NAME="Real-Life Problem Radar"
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost

AI_PROVIDER=groq
AI_API_KEY=api-key-disini
AI_MODEL=llama-3.2-11b-vision-preview
AI_ENDPOINT=https://api.groq.com/openai/v1/chat/completions

# Path ke binary FFmpeg
FFMPEG_PATH=C:\path\to\your\ffmpeg.exe

DB_DRIVER=
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=